repos:
  - repo: local
    hooks:
      - id: ruff
        name: Run Ruff
        entry: poetry run task format
        language: system
        types: [python]
        pass_filenames: false

      - id: check-arch
        name: Import Linter (Import Contracts)
        entry: poetry run task check_arch
        language: system
        types: [python]
        pass_filenames: false

      - id: check-branch-name
        name: Valida nome da branch
        entry: python ./.hooks/check_branch_name.py
        language: system
        always_run: true
        stages: [pre-commit]
        pass_filenames: false
